body {
    width: 100%;
    margin: 0 auto;
    background: url("../images/burger.jpg") no-repeat;
}


/* div{
    border: transparent;
    float: left;
    margin: auto 0;

}

#burger-available {
    margin-left: 20%;
} */